{% load static %}

<!DOCTYPE html>
<head>
	<title>Datsenko Dmitriy</title>
	<link href="{% static '/css/header.css'  %}" rel="stylesheet" type="text/css">
{#    <script src="https://kit.fontawesome.com/eded540da5.js" crossorigin="anonymous"></script>#}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'img/datsenkodima.jpg' %}" alt="Это я" >
					<hr>
					<h4>Привет! Меня зовут - Дмитрий</h4>
					<p>Я люблю программировать и создавать бэкенд для сайтов!</p>
                    <hr>
                    <ul class="social-links">
                        <li><a href="https://vk.com/intensy"><img class="social" src="{% static 'img/vk.png' %}" alt="ВК"></a></li>
						<li><a href="https://t.me/int3nsy"><img class="social" src="{% static 'img/tg.png' %}" alt="ТГ"></a></li>
						<li><a href="https://github.com/iNTENSY"><img class="social" src="{% static 'img/github-mark.png' %}" alt="ГитХаб"></a></li>
                        <br>
{#						<li><img class="social" src="{% static 'img/twitter.png' %}" alt=""></li>#}
{#						<li><img class="social" src="{% static 'img/youtube.png' %}" alt=""></li>#}
					</ul>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Мои первые шаги как Python Backend-Developer</h4>
					<hr>
					<p>Увлечение программировать появилось у меня с времен школы, примерно 2018 год. Позже, ближе к середине 2020 года я узнал о таком языке
                    программирования как Python. Изучал его постепенно, не спеша, так как время мне позволяло это.</p>

					<p>Ближе к концу 2021 года создал первое мини-приложение для телефона, по изучал данную отрасль, после реализовал
                    простенького телеграм-бота для личного пользования с парсингом данных с различных сайтов. В конце концов
                    я остановился на веб-программирования, в частости, бэкенд-разработка. Создал пару сайтов в 2022 и 2023 году
                    в качестве пет-проектов. Один из них по тестовому заданию, другой для игр по волейболу в городе где я живу.
                    Там же реализован и частичный фронтенд (не по душе он мне), API архитектура, иная база данных, брокер для celery.
                    Ко всему этому подключен и Docker.</p>
					<p>На данном этапе своей жизни у меня уже есть диплом о пройденном курсе веб-программирования от 1T-Sprint.
                    Я нацелен полностью посвятить свое время бэкенд-разработке на Python, а также пройти курс от Яндекс.Практикума по Python разработке к началу лета 2024 года.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Опыт работы</h5>
					<hr>
					<p>
                        Как такового опыта коммерческой разработки не имею.
					    Своим опытом могу назвать работу над пет-проектами: <br> <br>
                        {% for project in projects %}
                           •  <a href="{{ project.project_url }}">{{ project.title }}</a> <br>
                        {% endfor %}
                    </p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Технологии</h5>
					<hr>
					<p>
                        {% for skill in skills %}
                            • {{ skill.name }} <br>
                        {% endfor %}
                        и еще немного фронтенда :)
                        <br>
                    </p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Процесс обучения</h5>
					<hr>
					<p>Для начала я изучаю новые возможности, модули для разработки. Ищу по ним информацию
                    в обычном поисковике, после на платформе youtube. В конечном итоге мой путь всегда идет к документации 🔥</p>
                </div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Ближайшие цели</h5>
				<hr>
				<p>
                    {% for goal in goals %}
                        • {{ goal.text }} <br>
                    {% endfor %}
                </p>
				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>